{% extends "shop/base.html" %} 
{% load static %}
{% load i18n %}
{% load tz %}


{% block main %} 
{% for book in object_list %}
<section class="py-5">
    <div class="container">
        <div class="col mb-5">
            <div class="card h-100">
                <!-- Product image-->
                <img class="card-img-top"  src={{ book.imgs.url }}  />
                <!-- Product details-->
                <div class="card-body p-4">
                    <div class="text-center">
                        <!-- Product name-->
                        <h5 class="fw-bolder">{{ book.title }}</h5>
                        <!-- Product price-->
                        {{ book.price }}
                    </div>
                    <div class="decoration">{{ book.description | linebreaks}}</div>
                </div>
                <!-- Product actions-->
                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'shop:shop_detail' pk=book.id%}"/>خرید</a></div>
                </div>
            </div>
        </div>
    </section>
{% endfor %}

{% endblock main %} 